body{
  max-width: 960px;
  margin: auto

}

main{
  width: 80%;
  max-width: 760px;
  display: inline-block;
  position: absolute;
}


#external-links{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  min-width: 100px;
 }


blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 821px) {
  #main-header {
    font-size: 22px;
  }
}

@media screen and (max-width: 564px) {
  #main-header {
    font-size: 18px;
  }
}

@media screen and (max-width: 786px) {
  main{
  width: 100%;
  display: inline-block;
}


#external-links{
  display: inline-block;
  vertical-align: top;
  width: 100%;
 }
}